# API Configuration
PUBLIC_API_BASE_URL=https://theqalink.com/api/v1
PUBLIC_API_HASH=b3da624e147174b654c4c9358ac40c4ca716cb9db56b0da0e2f8200553922ac0
API_AUTH_TOKEN=YWRtaW46U0F3S3EzQUg5bVZxVg==
PUBLIC_API_PAGE_SLUG=your-page-slug-here

# Site Configuration  
PUBLIC_SITE_NAME=مدونة الاستثمار
PUBLIC_SITE_URL=http://localhost:4321